<%= form_with(model: @rental, local: true) do |form| %>
  <div class="field">
    <h1><strong><%= form.label "物件登録" %></strong></h1>
        <tbody>
         <td><%= form.label :property,"物件名"%> <td>
         <td><%= form.text_field :property %> <td>
        <%= form.label :price, "賃料" %>
        <%= form.text_field :price %>
        <%= form.label :address, "住所" %>
        <%= form.text_field :address %>
        <%= form.label :old, "築年数" %>
        <%= form.text_field :old %>
        <%= form.label :content, "備考" %>
        <%= form.text_field :content%>
  <div class="actions">
    <%= form.submit %>
       </tbody>
  </div>
<% end %>
<%= link_to "一覧画面にもどる", rentals_path %>
