<% if @rental.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this <%= @rental.property %> from being saved:</h2>
      <ul>
        <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>

  <div class = "field">
    <%= form_with(model: @rental, local: true) do |form| %>
      <h2><strong><%= form.label "物件登録" %></strong></h2>
        <tbody>
          <p><%= form.label :property,"物件名"%></p>
          <p><%= form.text_field :property %></p>
          <p><%= form.label :price, "賃料" %></p>
          <p><%= form.text_field :price %></p>
          <p><%= form.label :address, "住所" %></p>
          <p><%= form.text_field :address %></p>
          <p><%= form.label :old, "築年数" %></p>
          <p><%= form.text_field :old %></p>
          <p><%= form.label :content, "備考" %></p>
          <p><%= form.text_field :content%></p>

            <%num=0%> 
              <%= form.fields_for :routes do |route| %>
                <h1><strong>最寄駅<%= num +=1 %></h1>
                  <tbody>
                    <p><%= route.label :route1,"路線名" %></p>
                    <p><%= route.text_field :route1 %></p>
                    <p><%= route.label :station1, "駅名" %></p>
                    <p><%= route.text_field :station1 %></p>
                    <p><%= route.label :walk1, "徒歩分数" %></p>
                    <p><%= route.text_field :walk1 %></p> 
                  </tbody>    
              <% end %>
                <div class="actions">
                  <%= form.submit %>
                </div>
                  <%= link_to "戻る", rentals_path %>
<% end %>

  