<h2>物件編集</h2>
<%= form_with(model: @rental, local: true) do |rental| %>
<div class="field">
    <tbody>
    <strong><%= f.label :image %></strong>

        <%= rental.label :物件名%> 
        <%= rental.text_field :property %>
        <%= rental.label :賃料 %>
        <%= rental.email_field :price %>
        <%= rental.label :住所 %>
        <%= rental.address_field :address %>
        <%= rental.label :築年数 %>
        <%= rental.old_field :old %>
        <%= rental.content_field :備考 %>
        <%= rental.content_field :content%>

    </tbody>