<h1 class=line>一覧</h1>

  <h2>物件一覧</h2>

    <table>
      <tbody>
        <th><strong>物件名</strong></th>
        <th><strong>賃料</strong></th>
        <th><strong>住所</strong></th>
        <th><strong>築年数</strong></th>
        <th> <strong>備考</strong></th>

        <% @rentals.each do |rental| %>
          <tr>
            <td><%= rental.property %></td>
            <td><%= rental.price %></td>
            <td><%= rental.address %></td>
            <td><%= rental.old %>年</td>
            <td><%= rental.content %></td>
            <td class=vertical><%= link_to '詳細', rental_path(rental.id)%>
            <td class=vertical><%= link_to '編集', edit_rental_path(rental.id)%>
            <td class=vertical><%= link_to '削除',rental_path(rental.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <tr>
        <% end %>
      </tbody>
    </table>
     <%= link_to '物件を登録する', new_rental_path %>

      