<h2>閲覧</h2>
<tbody>
  <%= form_with(model: @rental, local: true) do |rental| %>
    <div class="field">
    <p>物件名: <%= rental.property %></p>
    <p>住所: <%= rental.address %></p>
    <p>築年数: <%= rental.old %></p>
    <p>備考: <%= rental.content %></p>
  <% end %>

  <% @routes.each do |routes| %>
    <tr>
    <% if rental.id == @routes.rental_id %>
      <p>最寄駅:  <%= @routes.route1 %></p>
      <p>駅名:  <%= @routes.station1 %></p>
      <p>徒歩分数:  <%= @routes.walk1 %></p>  
    <% end %>
  <% end %>
</tbody>
